$c-white-five:#ffffff;
$c-slate-grey-two:#585b6a;
$c-warm-grey-three:#9e9e9e;
$c-warm-grey-two:#707070;
$c-light-grey-blue:#93cccb;
$c-greyish-brown:#4a4a4a;
$c-white-four:#dbdbdb;
$c-light-blue-grey:#b9e4d3;
$c-greyish:#a5a5a5;
$c-sunflower-yellow:#ffd800;
$c-denim-blue:#3b5998;
$c-dark-sky-blue:#55acee;
$c-lipstick:#cb2027;
$c-white-three:#fcfcfc;
$c-white-two:#fafafa;
$c-white:#ededed;
$c-slate-grey:#585b6b;
$c-pinkish:#e37b7d;
$c-warm-grey:#919191;
$c-pinkish-grey:#bcbcbc;