@import "reset.scss";
@import "colors.scss";
@import "fonts.scss";
@import "mixins.scss";
@import "custom-chexbox.scss";

body{
  font-family: "Nunito-Regular";
  font-size: 16px;
}

#container{
  overflow: hidden;

  #hastags {
    display: none;

    @media #{$w-desktop} {
      display: block;
      @include dimensions(100%, 30px);
      background-color: $c-white;
      font-size: 12px;
      text-align: center;
      line-height: 28px;

      p, li {
        letter-spacing: 1.2px;
        color: $c-slate-grey-two;
      }
      p, ul {
        display: inline-block;
        vertical-align: middle;
      }

      p {
        font-family: "Nunito-Light";

      }
      li {
        font-family: "Poppins-Medium";
        display: inline-block;
        vertical-align: middle;

        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }
  }

  aside{
    @include dimensions(300px,672px);
    padding-top: 27px;
    background-color: $c-white-three;
    padding-left: 16px;
    padding-right: 10px;
    color:$c-white-three;
    position: relative;
    float: left;

    @media #{$w-responsive} {
      display: none;
    }

    li{
      position: relative;

      &:not(:last-child){
        margin-bottom: 26px;
      }
      &:after{
        content:"›";
        @include dimensions(28px,28px);
        line-height: 28px;
        background-color: $c-light-blue-grey;
        border-radius: 50%;
        display: block;
        float:right;
        cursor:pointer;
        text-align: center;
        @include absolute-top-right(0,0);
        pointer-events: none;
      }
      a{
        color: $c-warm-grey-two;
        font-family: Poppins-Bold;
        line-height: 23px;
        text-align: left;
        display: block;

        span{
          max-width: 90%;
          display: block;
        }
      }
    }
    .btn{
      @include dimensions(274px,44px);
      font-family: Poppins-SemiBold;
      font-size: 18px;
      font-weight: 600;
      color: $c-warm-grey-two;
      border: solid 2px $c-light-blue-grey;
      display: block;
      line-height: 44px;
      text-align: center;
      @include absolute-bottom-left(21px,50%);
      margin-left: -137px;

    }
  }

  main{
    float: left;
    text-align: center;
    width: calc(100% - 300px);
    padding-top: 39px;

    @media #{$w-desktop} {
      width: calc(100% - 664px);
    }
    @media #{$w-responsive} {
      width: 100%;
    }
    #breadcrumb{
      font-family: Nunito-Light;
      font-size: 13px;
      text-transform: uppercase;
      margin-bottom: 42px;

      li{
        display: inline-block;
        margin-right:3px;

        &.active a{
          color: $c-light-grey-blue
        }
      }
      a{
        color: $c-warm-grey-two;
      }

      li:first-of-type{
        &:before{
          content:"←";
          @include middle-ib;
          color: $c-warm-grey-two;
          padding-right: 3px;
        }
      }

      li:not(:first-child) {
        &:before{
          content:"›";
          display: inline-block;
          color: $c-warm-grey-two;
          font-size: 20px;
          padding-right: 3px;
        }
      }
    }
    h1{
      font-family: Poppins-Bold;
      font-size: 30px;
      color: $c-slate-grey-two;
      margin-bottom: 15px;
    }
    .subtitle{
      font-size: 18px;
      color: $c-warm-grey-three;
      margin-bottom: 40px;
    }

    .id{
      margin: auto;
      width: 100%;

      @media #{$w-desktop} {
        width: 650px;

      }
    }

    figure{
      overflow: hidden;

      #flip{
        float: right;

        p{
          font-size: 14px;
          font-family: Nunito-Regular;
          text-align: center;
          margin-top: 5px;
        }

        span{
          width: 39px;
          height: 39px;
          background-color: $c-light-blue-grey;
          border-radius: 50%;
          display: block;
          position: relative;
          border: 1px solid transparent;
          cursor: pointer;

          &:before{
            content:"";
            display: block;
            @include centerer;
            background-color: $c-white-five;
            -webkit-mask-image: url("../images/eye.svg");
            mask-image: url("../images/eye.svg");
            @include dimensions(20px,20px);
          }

          &:hover{
            background-color: $c-white-five;
            border: 1px solid $c-light-blue-grey;

            &:before {
              background-color: $c-light-blue-grey;
            }
          }
        }
      }
    }

    figcaption{
      font-size: 13px;
      color: $c-warm-grey-two;
      font-family: Nunito-Light;
      margin-top: 10px;
      text-align: left;

      @media #{$w-responsive} {
        line-height: 17px;
        padding: 0 15px;
      }
      span:first-of-type{
        font-family: Nunito-SemiBold;
        font-weight: 600;
      }

      span:last-of-type{
        color: $c-greyish;
      }
    }
  }

  .race-desc{
    margin-top: 25px;
    color: $c-greyish-brown;
    font-size: 20px;
    line-height: 30px;
    text-align: left;

    @media #{$w-responsive} {
      padding: 0 15px;
    }
  }

  #dna{
    height: auto;
    padding: 50px 35px;
    width: calc(100% - 30px);
    border: 1px dashed $c-warm-grey-two ;
    box-sizing: border-box;
    position: relative;
    margin: 60px 0;

    @media #{$w-desktop} {
      width: 650px;
      height: 320px;
      padding: 50px 24% 0;
      margin: 60px 0;
    }

    @media #{$w-responsive} {
      margin: 60px 15px;
    }


    #dna-picto{
      position: absolute;
      top: -44px;
      background: white;
      padding: 10px;
      left: 50%;
      transform: translateX(-50%);
    }

    .dna-title{
      font-family: "Poppins-Bold";
      color: $c-greyish-brown;
      font-size: 17px;
      line-height: 26px;
    }

    ul{
      list-style: disc;
      margin-top: 25px;
    }

    li{
      font-family: "Poppins-Regular";
      font-size: 16px;
      line-height: 26px;
      text-align: left;
      color: $c-warm-grey-two;
      span{
        font-family: "Poppins-SemiBold";
      }
    }
  }
  #specifications{
    margin-top: 10px;
    text-align: left;

    @media #{$w-mobile} {
      margin: 0 15px;
    }

    & > div{
      background-color: $c-white-two;
      padding: 20px 41px 20px;

      @media #{$w-mobile} {
        padding: 20px 15px;
      }

      &:not(:last-child){
        margin-bottom: 10px;
      }
    }

    h2{
      font-family: "Poppins-Bold";
      color: $c-greyish-brown;
      font-size: 18px;
      line-height: 26px;
      position: relative;
      background-color: $c-white-two;

      &:after{
        content:"—";
        @include absolute-top-right(0px,-20px);
        background-color: $c-light-blue-grey;
        color: $c-white-five;
        border-radius: 50%;
        @include dimensions(28px,28px);
        text-align: center;
        cursor: pointer;
        line-height: 30px;


        @media #{$w-mobile} {
          right: 0;
        }
      }
    }

    dt{
      font-family: "Nunito-Bold";
      color: $c-greyish-brown;
      line-height: 26px;
      margin-bottom: 5px;
      overflow: hidden;

      &:first-of-type{
        padding-top: 35px;
      }

      &:after{
        content:"";
      }

      p{
        float: left;
      }
      .img{
        float:right;
      }
    }

    dd{
      margin-bottom: 30px;
      color: $c-warm-grey-two;
      line-height: 25px;
    }

    .table-spec {
      width:260px;
      height:92px;
      border:1px dashed $c-warm-grey-two;
      border-collapse:collapse;
      padding:5px;
    }

    .table-spec td {
      border:1px dashed $c-warm-grey-two;
      padding:5px;
      text-align: center;
      vertical-align: middle;
      color: $c-warm-grey-two;
    }

    .hide {
      display: none;
    }

    #spec5{
      ul{
        padding-left: 20px;
      }
      li{
        list-style: disc;
          text-decoration: underline;
      }
    }
  }


  #socials{
    margin: 50px auto;

    hr, ul{
      width: calc((100% - 14px) / 3);
    }

    @media #{$w-responsive} {
      hr {
        width: 20%;
      }
    }

    @media #{$w-mobile} {
      hr{
        width: 50px;
      }

      ul{
        width: calc(100% - 110px);
      }
    }
    ul, li, hr{
      @include middle-ib;
    }
    ul{
      margin: auto;
    }
    li{
      @include dimensions(41px,41px);
      border-radius: 50%;
      position: relative;

      &:not(:last-child) {
        margin-right: 7px;
      }

      a{
        @include dimensions(100%,100%);
        display: block;

        img{
          display: block;
          @include centerer;
          @include dimensions(20px,20px);
        }
      }
    }
    .fb{
      background-color: $c-denim-blue;
    }
    .tw{
      background-color: $c-dark-sky-blue;
    }
    .pin{
      background-color: $c-lipstick;
    }
    .link{
      background-color: $c-warm-grey-three;
    }
  }
  .advertise {
    display: none;

    @media #{$w-desktop} {
      display: block;
      float: right;
      @include dimensions(300px, 600px);
      position: relative;
      top: 203px;
      margin-right: 38px;
    }
  }
}


#follow{
  background-color: $c-white-two;
  text-align: center;
  padding: 25px 0;

  p{
    font-family: Poppins-Regular;
    font-size: 20px;
    color: $c-warm-grey-two;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  ul{
    text-align: center;
  }

  li{
    @include middle-ib;
    @include dimensions(38px,38px);
    background-color: $c-warm-grey;
    border-radius: 50%;
    position: relative;

    a{
      @include dimensions(100%,100%);

      img{
        display: block;
        @include centerer;
        @include dimensions(20px,20px);
      }
    }

    &:not(:last-child) {
      margin-right: 7px;
    }
  }
}

#newsletter{
  background-color: $c-light-blue-grey;
  padding: 20px 0;
  text-align: center;

  form{
    margin-top: 19px;
  }

  label{
    color: $c-warm-grey-two;
    font-size: 14px;
    letter-spacing: 1.4px;
  }

  #newsletter-inputs{
    display: none;

    &.visible{
      display: block;
    }
  }

  input[type="text"], input[type="email"]{
    @include dimensions(296px,43.7px);
    border:none;
    background-color: $c-white-five;
    color: $c-greyish-brown;
    font-size: 14px;
    letter-spacing: 1.4px;
    font-family: "Poppins-Regular";
    padding: 11.9px 22.5px;
    display: block;
    margin: auto;

    &::placeholder{
      color: $c-pinkish-grey;
    }
  }

  input[type="text"]{
    margin: auto auto 17.3px;
  }

  .newsletter-txt{
    margin-top: 12px;
    font-family: "Poppins-Bold";
    font-size: 16px;
    letter-spacing: 1.6px;
    text-align: center;
    color: $c-white-five;
  }

  .newsletter-optin{
    font-family: "Nunito-Bold";
    color: $c-white-five;
    font-size: 13px;
    letter-spacing: 1.3px;
    max-width: 618px;
    margin:13.3px auto auto;
    line-height: 20px;

    a{
      text-decoration: underline;
      color: $c-white-five;
    }
  }

  button{
    width: 114.2px;
    height: 43.7px;
    background-color: $c-slate-grey-two;
    color: $c-white-five;
    font-family: "Poppins-Regular";
    font-size: 16px;
    text-align: center;
    letter-spacing: 1.6px;
    margin-top: 38.3px;
    border: none;
  }

  @media #{$w-mobile} {
    padding: 15px;

    .newsletter-txt {
      line-height: 20px;
    }
  }

}

footer{
  background-color: $c-white-two;

  nav{
    padding-top: 40px;

    ul{
      text-align: center;
      font-family: "Poppins-Regular";
    }

    ul:first-child{
      li{
        @include middle-ib;

        &:not(:last-child) {
          margin-right: 30px;
        }

        a{
          letter-spacing: 1.6px;
          text-align: center;
          color: $c-warm-grey-two;
        }
        @media #{$w-mobile} {
          display: block;
          margin: 30px auto;

          &:not(:last-child) {
            margin-right: auto;
          }
        }
      }
      & + ul{
        margin-top: 28px;

        li{
          a{
            font-size: 14px;
            color: $c-warm-grey;
          }
          &:not(:last-child) {
            margin-bottom: 30px;
          }
        }
        li:first-of-type{
          font-size: 16px;
          color: $c-warm-grey-two;
        }
      }
    }
  }
}

#footer-hr{
  height: 1px;
  border:none;
  width: 98%;
  background-color: $c-white;
  margin: 40px auto 14.5px;
}

#footer-logo{
  display: block;
  margin: auto;
}
